body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #f9fbe7;
}

code {
  font-family: "Muli", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: "white";
}
